.App {
  text-rendering: optimizeLegibility; /* Add font smoothing */
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; /* Updated font */
  background-color: #f6f9fc;
}

.link {
  color: #83948a; /* Standard hyperlink color */
  text-decoration: none;
}

.link:visited {
  color: #83948a; /* Prevent color change on visited */
}

.unstyled-link {
  color: inherit;
  text-decoration: none;
}

.fc-scroller::-webkit-scrollbar {
  width: 0.5em;
}

.fc-scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.fc-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 1); /* Default grey color */
  border-radius: 10px; /* Slightly rounded corners */
}
